@page "/BarInput"
@using BarWebApp.Shared

<h3>BarInput</h3>

<br />
<br />

<form >
    <p>Left border<input type="checkbox" @bind-value="BufferLeftBorder" /></p>
    <p>Right border<input type="checkbox" @bind-value="BufferRightBorder" /></p>
    <br />
    <p>Bar length:<input @bind-value="BufferLength"/></p>
    <br />
    <p>Bar Area:<input @bind-value="BufferArea"/></p>
    <br />
    <p>Bar material:<input @bind-value="BufferMaterial"/></p>
</form>

<button class="btn btn-primary" @onclick = "@OnAddButtonClicked">Add Bar</button>

<br/>
<br/>

<p>Result: <input @bind-value="TemporaryOutput" vaborder="0" readonly="readonly"/></p>

@code {
    public decimal BufferLength;
    public decimal BufferArea;
    public decimal BufferMaterial;
    public bool BufferLeftBorder = false;
    public bool BufferRightBorder = false;

    public string TemporaryOutput;
    public string BarsInfo;

    private void OnAddButtonClicked()
    {
        BarsInfo += $"(Length: {BufferLength}, Area: {BufferArea}, Material: {BufferMaterial})";

        if (BufferRightBorder && BufferLeftBorder)
            TemporaryOutput = "[Border]" + BarsInfo + "[Border]";
        else if (BufferLeftBorder)
            TemporaryOutput = "[Border]" + BarsInfo;
        else
            TemporaryOutput = BarsInfo + "[Border]";
    }
}
