@page "/BarInput"
@using BarWebApp.Shared

<h3>BarInput</h3>

<br />
<br />

<form>
    <p><input type="checkbox" />Left border</p>
    <p><input type="checkbox" />Right border</p>
</form>
<button class="btn btn-primary" >Click me</button>

@code {


}
